<?xml version="1.0"?>
<model>
  <name>office</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>e-Yantra</name>
   <email>ros@e-yantra.org</email>
  </author>

  <description>
    edited verion of office Clearpath office world in sdf format
    Office environment
  </description>
</model>
